/********************\
*   Globales
\*******************/
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&family=Open+Sans:wght@300;400;700&display=swap");
html, body, h1, h2, h3, p, figure {
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  /*position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;*/
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a, input {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

/********************\
*   Grid Layout
\*******************/
/**
*   Sidebar
*/
.grid-container {
  height: 100vh;
  min-height: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  -ms-grid-rows: 70px 1fr;
      grid-template-rows: 70px 1fr;
      grid-template-areas: "logo main" "nav main";
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

.playlists {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 1fr;
      grid-template-rows: 50% 1fr;
  min-height: 0;
}

main {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: main;
}

/**
*   Main area
*/
main {
  display: -ms-grid;
  display: grid;
  min-width: 0;
  -ms-grid-rows: 100px 1fr 150px;
      grid-template-rows: 100px 1fr 150px;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
      grid-template-areas: "header" "lists" "featured";
}

main header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

main .main-grid {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: lists;
}

main .featured {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: featured;
}

/**
*   List
*/
.main-section__grid-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  grid-auto-columns: minmax(250px, 1fr);
  -ms-grid-rows: minmax(150px, auto);
      grid-template-rows: minmax(150px, auto);
  gap: 20px;
}

/********************\
*   Containers
\*******************/
/**
* SideBar
*/
.logo {
  background-color: #151b31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}

.playlists {
  padding: 10px;
  font-size: 14px;
  background-color: #151b31;
  color: white;
}

.playlists__my-list {
  margin-bottom: 20px;
}

.playlists ol {
  list-style-position: outside;
  padding-left: 20px;
  margin-left: 0;
  height: 90%;
  overflow: auto;
}

.playlists ol li {
  padding-left: 10px;
  margin-bottom: 5px;
}

.playlists ol li:marker {
  padding-left: 50px;
}

.playlists ul {
  list-style: none;
  padding: 0;
}

.playlists ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.playlists ul li:last-child {
  margin-bottom: 0;
}

.playlists ul li span {
  margin-left: 10px;
}

/**
*   Header
*/
main header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

main header .search-bar {
  height: 35px;
  width: 500px;
  border-radius: 20px;
  text-align: center;
  background-color: #f2f2f2;
}

main header .search-bar input {
  width: 85%;
  height: 100%;
  border: none;
  background-color: #f2f2f2;
}

main header .user-info {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main header .user-info i {
  width: 25px;
  background-color: black;
  cursor: pointer;
}

main header .user-info figure {
  border: 1px solid black;
}

/**
*   Content
*/
.main-section {
  font-size: 14px;
  overflow: auto;
}

.main-section__list-container {
  padding: 5px 10px 10px;
  margin-bottom: 20px;
}

.main-section__list-container:last-child {
  margin-bottom: 0;
}

.main-section__list-container h2 {
  font-size: 1.5em;
}

.main-section__grid-container {
  overflow: auto;
  margin-top: 10px;
}

.main-section__grid-container p {
  padding: 5px 10px;
}

/**
*   Featured
*/
.featured {
  padding: 20px;
  padding-left: 100px;
  background: -webkit-gradient(linear, left top, right top, from(#ff0d0e), color-stop(56%, #fe4567), color-stop(87%, #fe6196));
  background: linear-gradient(90deg, #ff0d0e 0%, #fe4567 56%, #fe6196 87%);
}

.featured__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.featured__item figure {
  margin-right: 10px;
}

/*
.main-section__list-container{
    background-color: red;
    .main-section__grid-container{
        background-color: blue;
        article{
            background-color: green;
        }
    }
}*/
/********************\
*   Logo e Iconos
\*******************/
.logo {
  font-size: 34px;
  font-family: "MuseoModerno", cursive;
}

.logo__left {
  color: white;
}

.logo__right {
  color: #ff0b0d;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}

.user-icon img {
  width: 93%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: left;
}

.main-section__grid-container figure img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.featured__item figure {
  width: 100px;
}

.featured__item figure img {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=styles.css.map */